@model Result;
@{
    ViewData["Title"] = "Calculate Your GP";
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css" />
    <meta name="author" content="Izy" />
</head>
<body>
    
    <br /><br />
    <div class="container justify-content-center">

        <div class="col-md-12">
            <form asp-controller="Home" asp-action="Form" method="post">
                <div class="row">
                    <div class="col-md-5 col-sm-5">
                        <div class="form-group">
                            <label asp-for="Firstname">Firstname</label><br />
                            <input asp-for="Firstname" class="form-control" placeholder="Firstname" autofocus />
                            <span asp-validation-for="Firstname" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-5">
                        <div class="form-group">
                            <label asp-for="Lastname">Lastname</label>
                            <input asp-for="Lastname" class="form-control" placeholder="Lastname">
                            <span asp-validation-for="Lastname" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-sm-5">
                        <div class="form-group">
                            <label asp-for="Regno">Reg No</label><br />
                            <input asp-for="Regno" class="form-control" placeholder="2017/257654" />
                            <span asp-validation-for="Regno" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-5">
                        <div class="form-group">
                            <label asp-for="Department">Department</label>
                            <input asp-for="Department" class="form-control" placeholder="Computer Science">
                            <span asp-validation-for="Department" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <div class="form-group">
                            <label asp-for="Level">Level</label>
                            <select asp-for="Level" class="form-control">
                                <option selected="selected" value="100">100</option>
                                <option value="200">200</option>
                                <option value="300">300</option>
                                <option value="400">400</option>
                                <option value="500">500</option>
                                <option value="600">600</option>
                                <option value="700">700</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-5 col-sm-5">
                        <div class="form-group">
                            <label asp-for="Session">Session</label><br />
                            <input asp-for="Session" class="form-control" placeholder="2019/2020" />
                            <span asp-validation-for="Session" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-5">
                        <div class="form-group">
                            <label asp-for="Semester">Semester</label>
                            <select asp-for="Semester" class="form-control">
                                <option selected="selected" value="First">First</option>
                                <option value="Second">Second</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br /><br />
                <!--<table class="table table-hover" id="makeEditable">
        <thead>
            <tr>
                <th>Course</th>
                <th>Unit</th>
                <th>Grade</th>
                <span style="float:right"><button class="btn btn-dark" id="but_add">Add New Row</button></span>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>MTH 216</td>
                <td>3</td>
                <td>A</td>
            </tr>
            <tr>
                <td>STA 232
                <td>2</td>
                <td>A</td>
            </tr>
            <tr>
                <td>STA 211</td>
                <td>2</td>
                <td>B</td>
            </tr>
            <tr>
                <td>COS 251</td>
                <td>2</td>
                <td>B</td>
            </tr>
            <tr>
                <td>COS 201</td>
                <td>2</td>
                <td>A</td>
            </tr>
            <tr>
                <td>GSP 208</td>
                <td>2</td>
                <td>A</td>
            </tr>
        </tbody>
    </table>

    <br /><br />


                <br /><br />-->

                <div class="container text-center">
                    <button class="btn btn-dark m-1" type="submit">Submit</button>
                </div>
            </form>
        </div>
        
    </div>
    



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/bootstable.js"></script>
    <script type="text/javascript">
        $('#makeEditable').SetEditable({ $addButton: $('#but_add') });
    </script>
</body>
