@{
    ViewData["Title"] = "Home";
}
<head>
    <meta name="author" content="Izy" />
    <link rel="stylesheet" href="~/css/index.css" />
    
</head>
<body>
    <br /><br /><br />
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <br />
        <a asp-area="" asp-controller="Home" asp-action="Form"><button class="btn btn-dark">Calculate your GPA</button></a>
    </div>
</body>